body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #8dece1, #9fa9e8);
}

.app {
  text-align: center;
  padding: 30px;
}

.title {
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
